[submodule ".config/awesome/lain"]
	path = .config/awesome/lain
	url = https://github.com/copycat-killer/lain
[submodule ".config/awesome/freedesktop"]
	path = .config/awesome/freedesktop
	url = https://github.com/copycat-killer/awesome-freedesktop
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/alfunx/oh-my-zsh
