[Desktop Entry]
Name=Simple Terminal
GenericName=Terminal
Comment=A simple virtual terminal emulator for X.
Exec=st
Terminal=false
Type=Application
Encoding=UTF-8
Icon=terminal
Categories=System;TerminalEmulator;
Keywords=shell;prompt;command;commandline;cmd;
